.inbox-scroll::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.35);
  border-radius: 4px;
}

.inbox-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.5);
}

.inbox-scroll::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.05);
}